<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>HTTP API for pygments</title>
    <meta name="viewport" content="width=device-width">
		<meta name="description" content="HTTP API for pygments"/>
		<meta name="language" content="en"/>
		<meta name="content-language" content="en"/>
		<meta name="publisher" content="Marco Otte-Witte" />
    <link rel="stylesheet" href="http://simplabs.com/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://simplabs.com/images/simplabs.ico" />
	</head>
  </head>
  <body>
    <div id="main">
      <div id="content">
        <div id="content-head">
          <h2><span>simple web Engineering</span></h2>
        </div>
        <div id="content-body">
          <div class="logo">
            <a href="http://simplabs.com" title="simplabs.com - home"></a>
            <div class="blocker">&nbsp;</div>
          </div>
          <div id="main-content">
            <div class="sections">
              <section>
                {{ content }}
              </section>
            </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51f3a56a108d7b2dc600016e');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
